article.IndexFirstView
  .IndexFirstView__border.js-firstView-01
  .IndexFirstView__image
  .IndexFirstView__message.js-firstView-02
    p 
      span フキダシは稲沢・一宮エリアの中小企業に特化した
      br
      span ホームページ制作会社です。
    