section.IndexAboutUs#aboutus
  .IndexAboutUs__container
    h2.Common__sectionTitle
      span ABOUT US
      | 私たちについて

    .IndexAboutus__contentsContainer
      h3.Common__paragraphTitle フキダシは、稲沢・一宮エリアの中小企業に特化した地元密着のホームページ制作会社です。
      p.Common__paragraph 地域密着をモットーに、地元の企業様のIT周りのお手伝いができればと思います。
        br
        | デザインと制作を一手に引き受けていますので、制作時の連携がスムーズです。
        br
        | 既存のホームページの更新や、細かな修正も承っておりますので、お気軽にご相談ください。
  
section.IndexService#service
  .IndexService__container
    h2.Common__sectionTitle
      span SERVICE 
      | 私たちにできること

    .IndexService__contentsContainer
      .IndexService__contentsList
        .IndexService__contents
          img(src="img/Index/service01.png")
          h3.Common__paragraph.futo-go 新しくお店を始めるので
            br.-sp
            | 集客したい
        .IndexService__contents
          img(src="img/Index/service02.png")
          h3.Common__paragraph.futo-go 今あるホームページを
            br.-sp
            | リニューアルしたい
        .IndexService__contents
          img(src="img/Index/service03.png")
          h3.Common__paragraph.futo-go ホームページの更新を
            br.-sp
            | まかせたい

section.IndexPrice#price
  .IndexPrice__container
    h2.Common__sectionTitle
      span PRICE
      | 料金

    .IndexPrice__contentsContainer
      img(src="img/Index/priceTable.png" alt="料金表")
      p.Common__paragraph 上記は新規制作の料金になります。
        br 
        | 既存のホームページのリニューアル、一部更新は別途お問い合わせください。
  
section.IndexContact#contact
  .IndexContact__container
    h2.Common__sectionTitle
      span CONTACT 
      | お問い合わせ

    .IndexContact__contentsContainer
      p.IndexContent__paragraph.Common__paragraph 制作のお問い合わせはお気軽にどうぞ。
      a(href="#").Common__button.din-2014 CONTACT