.TechBlogDetail
  .TechBlogDetail__container 
    .TechBlogDetail__contents 
      .TechBlogDetail__contentsHeader
        +BlogTags(["WordPress", "CSS"])
        time.TechBlogDetail__articleDate(time-date="2021.04.16") 
          | 2021.04.16
      h1.TechBlogDetail__articleTitle 
        | ここにタイトルが入ります。ここにタイトルが入ります。ここにタイトルが入ります。ここにタイトルが入ります。ここにタイトルが入ります。ここにタイトルが入ります。
      .TechBlogDetail__articleEyeCatch
        img(src="img/TechBlog/TechBlog__thumbnail--default.png") 
      .Common__article 
        h2 H2タイトルタイトル 
        h3 H3タイトルタイトル 
        h4 H4タイトルタイトル
        p ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
        p ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      +ArticleFooter()
      +RelatePosts()
        


    +TechBlogSidebar()