mixin ArticleFooter()
  .Common__articleFooter 
    .Common__snsContainer 
      .Common__snsTitle 記事をシェアする
      .Common__snsSplit |
      ul.Common__snsLists 
        li.Common__snsItem
          a(href="#") 
            img(src="img/Common/icon--twitter.svg")
        li.Common__snsItem
          a(href="#") 
            img(src="img/Common/icon--facebook.svg")