extends ./Layout/_layout.pug
append variables
  //- Required
  - var page = "tech-blog-detail";
  - var pageTitle = "技術ブログ記事";

block content
  include Block/tech-blog/_tech-header
  include Block/tech-blog-detail/_tech-blog-detail-contents