.Header.js-firstView-01
  .Header__inner 
    h1.Header__logo 
      a(href="/")
        img(src="img/Common/logo.png" alt="稲沢・一宮のホームページ制作ならフキダシ")
    nav.Header__navi
      ul.Header__naviList
        li.Header__naviMenu 
          a(href="index.html#aboutus") 私たちについて
        li.Header__naviMenu 
          a(href="index.html#service") 私たちにできること
        li.Header__naviMenu 
          a(href="index.html#price") 料金
        li.Header__naviMenu 
          a(href="contact.html") お問い合わせ
    .Header__humbager