#Modal.Modal
  #Modal__bg.Modal__bg
    .Modal__wrapper
      .Modal__contents
        img(src="img/product-details/itemImage__productDetailsSlide01.png")
      #Modal__close.Modal__close
        .Modal__closeButton
          span.Modal__closeLine.-lineTop
          span.Modal__closeLine.-lineBottom