.SearchSeries
  .SearchSeries__container
    .SearchSeries__inner
      .Common__articleTitle
        | シリーズで探す
      .SearchSeries__cardList
        a(href="middle-category.html").SearchSeries__cardItem
          img(src="img/middle-category/SearchSeries__item--choukoku.jpg")
          .SearchSeries__cardText
            | 彫刻硝子
        
        a(href="middle-category.html").SearchSeries__cardItem
          img(src="img/middle-category/SearchSeries__item--edoglass.jpg")
          .SearchSeries__cardText
            | 江戸硝子

        a(href="middle-category.html").SearchSeries__cardItem
          img(src="img/middle-category/SearchSeries__item--edokiriko.jpg")
          .SearchSeries__cardText
            | 江戸切子
      
      .SearchSeries__searchButtonContainer
        .SearchSeries__searchButtonWrap
          a(href="search-page.html#color").SearchSeries__searchButton
            span 色で探す
        
        .SearchSeries__searchButtonWrap
          a(href="search-page.html#item").SearchSeries__searchButton
            span アイテムで探す