.SnsTab.-pc
  .SnsTab__label
    span SNS
    ul.SnsTab__contentList
      li.SnsTab__contentItem
        a(href="https://www.instagram.com/taburoukoubou/" target="_blank")
          img(src="img/common/icon--instagram.svg")
      li.SnsTab__contentItem
        a(href="https://www.facebook.com/taburoukoubou/" target="_blank")
          img(src="img/common/icon--facebook.svg")
      li.SnsTab__contentItem
        a(href="https://twitter.com/taburoukoubou/" target="_blank")
          img(src="img/common/icon--twitter.svg")
